[class^="social__icon-"], 
[class*="social__icon-"] { 
	display: inline-block; 
	background: url('/images/social-icons.png') no-repeat; 
	width: 48px;
	height: 48px;
	opacity: 0.5;
} 
[class^="social__icon-"]:hover, 
[class*="social__icon-"]:hover { 
	opacity: 1;
}
.social__icon-linkedin { 
	background-position: -0px -0px; 
}
.social__icon-googleplus { 
	background-position: -48px -0px;
}
.social__icon-github { 
	background-position: -0px -48px;
}
.social__icon-home { 
	background-position: -48px -48px;
}
.social__icon-twitter { 
	background-position: -0px -96px;
}
.social__icon-book { 
	background-position: -48px -96px;
}