<p>
	<a href="http://www.casadocodigo.com.br/products/livro-nodejs" rel="me" title="Aplicações web real-time com Node.js" target="_blank">
		<img src="/images/banner-book-nodejs.png" width="251" height="77" alt="Aplicações web real-time com Node.js">
	</a>
</p>