<a href="http://twitter.com/crp_underground" target="_blank" title="Twitter" rel="author">
	<i class="social__icon-twitter"></i>
</a>
<a href="http://www.linkedin.com/pub/caio-ribeiro-pereira/25/7ba/465" target="_blank" title="LinkedIn" rel="author">
	<i class="social__icon-linkedin"></i>
</a>
<a href="https://plus.google.com/106082169903180828657" target="_blank" title="Google+" rel="author">
	<i class="social__icon-googleplus"></i>
</a>
<a href="https://github.com/caio-ribeiro-pereira" target="_blank" title="Github" rel="author">
	<i class="social__icon-github"></i>
</a>
<a href="http://casadocodigo.com.br/products/livro-nodejs" target="_blank" title="Node.js book (Portuguese)" rel="author">
	<i class="social__icon-book"></i>
</a>
<a href="http://crpwebdev.com" target="_blank" title="About me" rel="author">
	<i class="social__icon-home"></i>
</a>