<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
	<head>
		<title><%= site.subtitle %> - <%= site.title %></title>
		<% include _metatags %>
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<link href="/application.css" rel="stylesheet">
	</head>
	<body>
		<header class="header">
			<a href="/" title="A collection of web modules for Node.js" rel="me">
				<img src="<%= site.logo_image %>" alt="A collection of web modules for Node.js" width="330" height="130">
			</a>
			<h1>A collection of web frameworks for Node.js</h1>
		</header>
		<nav class="social">
			<% include _share %>
		</nav>
		<main class="js-web-module">
			<p>
				Do you wanna add your Node web module? <a href="https://github.com/caio-ribeiro-pereira/node-web-modules/blob/master/README.md" target="_blank">Click here</a>.
			</p>
			<p><strong>Most watched modules</strong></p>
			<% include _modules %>
		</main>
		<footer class="footer">
			<p>
				<small>
					Powered by <a href="http://nodejs.org" target="_blank">Node.js</a> with <a href="http://expressjs.com" target="_blank">Express</a>, <a href="http://redis.io" target="_blank">Redis</a> and <a href="http://developer.github.com/v3" target="_blank">Github API</a>, layout by <a href="mailto:mateuspatzlaff@gmail.com" target="_blank">Mateus Vahl</a> and licensed by <a href="http://caio-ribeiro-pereira.mit-license.org" target="_blank">MIT</a>.
					<br>
					Copyright (c) by <a href="http://crpwebdev.com" target="_blank">Caio R. Pereira</a> 2013-<%= new Date().getFullYear() %>. <a href="http://nodejs.org" target="_blank">Node.js</a> is an official trademark of <a href="http://joyent.com" target="_blank">Joyent</a>. 
					<br>
					This site is not formally related to or endorsed by the official Joyent commercial project.
				</small>
			</p>
			<nav class="social">
				<% include _mysocial %>
			</nav>
		</footer>
		<% include _analytics %>
		<script src="application.js"></script>
	</body>
</html>