.box__button {
	font-size: 1em;
	background: $bgBoxButtonColor;
	color: $bgBoxTextColor;
	text-align: center;
	padding: 15px;
	margin-left: 10px;
	border: 1px solid $bgBoxBorderColor;
	display: inline-block;
	text-decoration: none;
}
.box__button:hover {
	text-decoration: underline;
	color: $bgBoxTextColor;
}