.box__button {
	font-size: .9em;
	background: #669900;
	color: #FFF;
	text-align: center;
	padding: 15px;
	margin: 10px;
	border: 1px solid #688A11;
	display: inline-block;
	text-decoration: none;
}
.box__button:hover {
	text-decoration: underline;
	color: #fff;
}