.box__header {
	height: auto;
	border-bottom: 1px solid $bgBoxHeaderColor;
	padding: 25px 2.5px;
	color: $bgBoxTextColor;
}
.box__header:hover,
.box__header:focus {
	color: $bgBoxHeaderLinkColor;
	cursor: pointer;
}
.box__header h1 {
	font-size: 1.75em;
	text-align: left;
	margin-left: 20px;
}