$bgMainColor = #E6E6E6;
$bgSecondColor = #EEE;
$bgSecondBorderColor = #DDD;
$textMainColor = #333;
$textSecondColor = #999;
$textDestaqColor = #FFC;
$linkColor = #5f980d;
$linkHoverColor = #95A469;

$bgBoxColor = #3F3F37;
$bgBoxTextColor = #FFF;
$bgBoxHeaderColor = #DDD;
$bgBoxHeaderLinkColor = #6D9415;
$bgBoxBorderImageColor = #DDD;
$bgBoxBorderShadowColor = #333;
$bgBoxBorderColor = #3B3C37;
$bgBoxButtonColor = #690;
$bgBoxButtonBorderColor = #688A11;